<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<% content_for :not_authorized do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="do You know" />
  <meta property="og:description" content="<%= @article.heading%>" />
  <meta name="description" content="<%= @article.heading%>">
  <meta property="og:image" content="<%= asset_url(@article.image_description.url)%>" />
<% end %>

<h3 class="tittle"><%= @article.heading%></h3>
<div class="single">
  <div class="b-bottom">
  <%= @article.content.html_safe%>
  </div>
</div>

<div class="addthis_inline_share_toolbox"></div>
<!-- <div class="single-bottom">
  <div class="single-middle">
     <ul class="social-share">
        <li><span>SHARE</span></li>
        <li><a href="#"><i> </i></a></li>
        <li><a href="#"><i class="tin"> </i></a></li>
        <li><a href="#"><i class="message"> </i></a></li>
     </ul>
     <a href="#"><i class="arrow"> </i></a>
     <div class="clearfix"> </div>
  </div>
</div> -->
<div class="clearfix"></div>