<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Do-U-Know</title>
		<%= csrf_meta_tags %>
		<%= render partial: "layouts/google_analytics" %>
		<%#= render partial: "layouts/one_signal_notification"%>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="Blogger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android  Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="text/javascript">
       jQuery(document).ready(function($) {
       	$(".scroll").click(function(event){		
       		event.preventDefault();
       		$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
       	});
       });
    </script>
	</head>

  <body>
  	<%= render partial: "layouts/nav_bar" %>
		<div class="full">
		  <div class="col-md-9 main">
	      <div class="banner-section">
	    		<%= yield %>
	    	</div>
		    <%= render partial: "layouts/right_section" %>
		    <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
		</div>
		<script type="text/javascript">
		   $(document).ready(function() {
		    /*
		    var defaults = {
		          containerID: 'toTop', // fading element id
		      containerHoverID: 'toTopHover', // fading element hover id
		      scrollSpeed: 1200,
		      easingType: 'linear' 
		      };
		    */
		    
		    $().UItoTop({ easingType: 'easeOutQuart' });
		    
		   });
		</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</body>    	
	<%= render partial: "layouts/share_this"%>
</html>
