<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Do-U-Know</title>
		<%= csrf_meta_tags %>
		<%= render partial: "layouts/one_signal_notification"%>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
	</head>

  <body>
  	<%= render partial: "layouts/nav_bar" %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
